/*A nedia query to applied at a viewport width of 500px or more*/

@media screen and (min-width: 500px){
    header{
        background-color: black;
        color: white;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
}