    * {
        box-sizing: border-box;
    }


    header {
        background-color: #FCC937;
        margin-bottom: 40px;
    }

    .nav-container{
        display: flex;
        justify-content: space-between;  
        align-items: center;

    }

    .nav-heading {
        margin-left: 10px;
        margin: 3px;
    }

    .nav-heading h1 {
        margin: 0;
        
    }

    .nav-heading h3 {
        margin: 20px 0;
        font-size: 18px;
    }


    nav ul{
        text-align: center;
        display: flex;
        justify-content: space-between;
    
    }

    nav ul li {
        display: inline;
        margin-right: 15px;
    }

    nav ul li a {
        text-decoration:none;
        color: black;
        transition: border-bottom 0.0s ease;
    }

    nav ul li a:hover {
        text-decoration: none;
        border-bottom: 2px solid #08552d;

    }

    nav ul li:last-child {
        margin-right: 10px; /* Removes margin from the last link */
    }

    .hero img{
        width: 100%;
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: -2.5rem;

    }

    .btn {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        background-color: #FCC937;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        font-size: 16px;

    }

    .btn:hover {
        background-color: #08552d;
        color: white;
    }

    .card {
        border: 3px solid rgb(246, 198, 9);
        margin-bottom: 10px;
        background-color: rgb(123, 122, 122);
    }

    hr {
        width: 94%;
        margin-top:-15px;
    }

    .card h2 {
        margin-left: 15px;
    }

    .card p {
        margin-left: 15px;
    }

    .p2 {
        text-align: center;
        justify-content: center;
    }

    .heading {
        text-align: center;
        justify-content: center;
        color: #08552d;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .section-img {
        width: 98%;
        height: 400px;
        margin-left: 10px;
    }

    .content {
        border: 3px solid #04381d;
        margin-bottom: 15px;
        background-color: rgb(123, 122, 122);
    }

    .content h3 {
        margin-left: 15px;
    }

    .content p {
        margin-left: 15px;
    }

    footer {
        background-color: #FCC937;
        text-align: center;
        padding: 1px;
    }

    footer p {
        font-size: 16px;
    }

    .footer-heading {
        padding-top: 3px;
    }
    
    .f-p {
        color: #074525;

    }

    main {
        margin: 2%;
    }

    #mode {
        position: absolute;
        right: 4rem;
        font-size: 3rem;
        cursor: pointer;
        font-size: 2rem;
        margin-top: 18px;
    }

    #banner {
        background-color: #8d854e;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 10px;
        position: absolute; /* Position absolute to place it on top of the hero image */
        top: 121px; /* Adjust top position as needed */
        left: 0;
        width: 100%; /* Span the whole screen */
    }

    .weather-h3 {
        margin: 30px;
    }

    /*Additional styles for cards in dark mode*/

    .dark-mode .card, .dark-mode .content {
        background-color: #333;
        color: #fff; 
        border-color: #555;
    }
    
    /* small view navigation */

@media screen and (max-width: 500px) {

    #menu {
            font-size: 1rem;
            background-color:#FCC937;
            position: absolute;
            top: 1rem;
            right: 1rem;  
    }


    #menu::before {
        content: "≡";
    }

    #menu.open::before {
        content: "✕";
    }

    /* when the button is clicked - the open class is toggled (added/removed) */
    .open a {
        display: inline;
    }

    nav {
        display: none; /* Initially hide the navigation */
    }

    nav.open {
        display: inline;
    }

    #mode {
        margin-top: -5.8rem;
    }
}

/*Discover page////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .s-h3, .s-p{
        margin-left: 1rem;
    }

    aside {
        order: 1; /* Moves the aside abovethe main content */
    }

    aside .side-card {
        margin-bottom: 20px; /* Adds some space between the side card and images */
    }

    aside img {
        display: block;
        margin-bottom: 20px; /* Adds some space between the images */
        padding: 1rem;
    }

    .photo-grid{
        order: 2; /* Moves the main content below the aside */
    }

    .photo-grid figure {
        margin-bottom: 20px; /* Adds some space between the figures */
    }

    aside img, .photo-grid img {
        display: block;
        width: 100%; /* Sets the width of images to 100% */
        margin-bottom: 20px; /* Adds some space between the images */

    }

    .side-card {
        background-color: #a29b9b;
        border-radius: 1rem;
        padding: 1rem;
        margin-left: 15px;
        margin-right: 15px;

    }
}

/*The forms/////////////////////////////////////////*/

.form-container{
    border: 2px solid green; 
    padding: 20px; 
    max-width: 400px; 
    margin: 0 auto; 
}

/* Style for the labels */
label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style for the button */
.form-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Style for the button on hover */
.form-button:hover {
    background-color: darkgreen;
}

.benefits-container{
    border: 5px solid #c69f34; 
    max-width: 400px; 
    margin: 0 auto; 
    margin-top: 30px;
    padding: 10px;
    border-top-left-radius: 40px; 
    border-bottom-right-radius: 40px; 

}

/*Directory Page*/

/* Styles for member card */
.member-card {
    background-color: #ccbd65;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.member-card img {
    border: 3px solid #f5f2f2; /* White border */

}

.members-toggle {
    display: flex;
    text-align: center; /* Centered the buttons */
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px; /* Space below the buttons */
    padding: 10px; /* Padding inside the border */
}

/* Styles for small screens */
@media screen and (max-width: 768px) {

    .grid-view {
        grid-template-columns: 1fr;
        margin: 30px;

    }
}