@media (min-width: 1025px) {
    
    header {
        background-color: #FCC937;
        }
    
        .nav-container{
            display: flex;
            justify-content: space-between;  
            align-items: center;
    
        }

        .nav-heading {
            margin-left: 10rem;
        }

        nav ul{
            text-align: center;
            display: flex;
            justify-content: space-between;
        
        }
    
        nav ul li {
            display: inline;
            margin-right: 80px;
        }

        nav ul li:last-child {
            margin-right: 20px; /* Removes margin from the last link */
        }

        .btn {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px 60px;
            background-color: #FCC937;
            color: black;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s ease;
            font-size: 25px;
    
        }
    
        .btn:hover {
            background-color: #08552d;
            color: white;
        }

        .hero-image {
            height: 550px;
        }

        main {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .card {
            margin: 15px;
        }

        hr {
            width: 850px;
        }

        #card2-h2 {
            margin-left: 28px;
        }

        .card h2 {
            margin-left: 65px;
        }

        .card p {
            margin-left:65px;
        }

        .card2-hr {
            width: 25rem;
        }

        #card1 {
            grid-column: 1/3;
        }

        .content {
            margin: 15px;
        }
        .content h3 {
            font-size: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .content p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .section-img {
            width: 90%;
        }

        .footer-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .name-logo {
            margin-left: 15rem;
        }
        
        .info {
            margin-right: 22rem;
        }

        .f-hr {
            width: 80rem;
            margin-top: 10px;
        }

        .footer-sec {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        #mode {
            position: absolute;
            top: 15px;
            right: 30rem;
            font-size: 3rem;
            cursor: pointer;
            font-size: 2rem;
        }
}

/*Discover page*/

@media screen and (min-width: 1025px) {

    .container {
        display: grid;
        grid-template-columns: 350px auto; 
        grid-template-rows: repeat(3, auto); 
        gap: 20px; 
    }

    aside {
        display: grid;
        grid-template-rows: repeat(3, 1fr); 
        gap: 1rem; 
        padding: 10px;
    }

    aside img {
        width: 100%; 
        height: 30rem; 
        object-fit: cover; 
    }
    .side-card {
        background-color: grey;
        border-radius: 1rem;

    }

    .s-h3, .s-p {
        margin-left: 1rem;
        padding: 2px;
    }

    .photo-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-auto-rows: auto; 
        gap: 1px; 
    }
    .photo-grid img {
        width: 100%; 
        height: 80%; 
        transition: box-shadow 0.2s ease; 

    }

    .photo-grid img:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    }

    .photo-grid p {
       margin-left: 2.5rem;
    }
}

/*form////////////////////*/

.form-container {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.form-container {
    grid-column: 1 / 3; 
    
}

.benefits-container {
    background-color: #f9f9f9;
    padding: 20px;
    display: grid; 
    grid-template-rows: auto 1fr; 
    grid-gap: 10px; 
    border-top-left-radius: 40px; 
    border-bottom-right-radius: 40px; 

}

.benefits-container h2 {
    grid-row: 1; 
}

.benefits-container ul {
    grid-row: 2; 
    display: flex;
    flex-direction: column; 
}

/*Directories/////////////////*/

  @media screen and (min-width: 1024px) {

    .grid-view {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

   
    .grid-view #members-container {
        grid-column: span 3;
    }

    
}