@media screen and (min-width: 800px) {
    .btn {
        padding: 20px 40px;
        top: 50%;
    }

    hr {
        width: 96%;
    }

    #mode {
        position: absolute;
        top: 15px;
        right: 16rem;
        font-size: 3rem;
        cursor: pointer;
        font-size: 2rem;
    }
}

